services:
  # --- INSTANCE 1: ETH/BTC ---
  bot_eth:
    build: .
    container_name: ethbtc_bot
    restart: unless-stopped
    networks:
      - default 
      - trading-net
    environment:
      - BINANCE_KEY=${BINANCE_KEY}
      - BINANCE_SECRET=${BINANCE_SECRET}
      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
      - MODE=${MODE}
      - SYMBOL=ETHBTC
    volumes:
      - ./run_state/eth:/data  # Isolated State Folder for ETH
      - .:/app
    command: >
      python /app/live_executor.py 
      --params configs/prod_meta_live.json 
      --mode ${MODE} 
      --symbol ETHBTC
      --state /data/state.json
    ports:
      - "9109:9109"

  # --- INSTANCE 2: BNB/USDC ---
  bot_bnb:
    build: .
    container_name: bnbusdc_bot
    restart: unless-stopped
    networks:
      - default  
      - trading-net
    environment:
      - BINANCE_KEY=${BINANCE_KEY}
      - BINANCE_SECRET=${BINANCE_SECRET}
      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
      - MODE=${MODE}
      - SYMBOL=BNBUSDC
    volumes:
      - ./run_state/bnb:/data  # Isolated State Folder for BNB
      - .:/app
    command: >
      python /app/live_executor.py 
      --params configs/prod_bnb_meta_live.json 
      --mode ${MODE} 
      --symbol BNBUSDC
      --state /data/state.json
    ports:
      - "9101:9109" # Maps Host 9101 -> Container 9109

  # --- UTILITIES ---
  sweeper:
    build: .
    container_name: global_sweeper
    restart: unless-stopped
    environment:
      - BINANCE_KEY=${BINANCE_KEY}
      - BINANCE_SECRET=${BINANCE_SECRET}
      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
      - MODE=${MODE}
      - SWEEPER_IGNORE=${SWEEPER_IGNORE}
    volumes:
      - .:/app
    command: python /app/tools/dust_sweeper.py --mode auto --schedule weekly


  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    networks:
      - default   
      - trading-net
    user: "0"
    ports:
      - '3000:3000'
    volumes:
      - ${DOCKERCONFDIR}/grafana-data:/var/lib/grafana
      - ${DOCKERCONFDIR}/grafana-provisioning:/etc/grafana/provisioning

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9999:9090"
    networks:
      - default  
      - trading-net    
    user: "65534"
    volumes:
      - ${DOCKERCONFDIR}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ${DOCKERCONFDIR}/prometheus/data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    restart: unless-stopped

networks:
  trading-net:
    external: true