version: "3.8"
services:
  # --- INSTANCE 1: ETH/BTC ---
  bot_eth:
    build: .
    container_name: ethbtc_bot
    restart: unless-stopped
    environment:
      - BINANCE_KEY=${BINANCE_KEY}
      - BINANCE_SECRET=${BINANCE_SECRET}
      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
      - MODE=${MODE}
      - SYMBOL=ETHBTC
    volumes:
      - ./run_state/eth:/data # <--- Host Folder "eth" maps to Container "/data"
      - .:/app # <--- Your code mapping
    command: >
      python /app/live_executor.py 
      --params configs/prod_dynamic_15m_016btc.json 
      --mode ${MODE} 
      --symbol ETHBTC
      --state /data/state.json
    ports:
      - "9109:9109" # Metric Port 9109

  # --- INSTANCE 2: BNB/USDC ---
  #  bot_bnb:
  #    build: .
  #    container_name: bnbusdc_bot
  #    restart: unless-stopped
  #    environment:
  #      - BINANCE_KEY=${BINANCE_KEY}
  #      - BINANCE_SECRET=${BINANCE_SECRET}
  #      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
  #      - MODE=${MODE}
  #      - SYMBOL=BNBUSDC
  #    volumes:
  #      - ./run_state/bnb:/data # <--- Host Folder "bnb" maps to Container "/data"
  #      - .:/app
  #    command: >
  #      python /app/live_executor.py
  #      --params configs/prod_dynamic_15m_016bnb.json
  #      --mode ${MODE}
  #      --symbol BNBUSDC
  #      --state /data/state.json
  #    ports:
  #      - "9101:9109" # Metric Port 9101

  # --- UTILITIES ---
  sweeper:
    build: .
    container_name: global_sweeper
    restart: unless-stopped
    environment:
      - BINANCE_KEY=${BINANCE_KEY}
      - BINANCE_SECRET=${BINANCE_SECRET}
      - BINANCE_BASE_URL=${BINANCE_BASE_URL}
      - MODE=${MODE}
      - SWEEPER_IGNORE=${SWEEPER_IGNORE}
    volumes:
      - .:/app
    command: python /app/tools/dust_sweeper.py --mode auto --schedule weekly
